<ion-content>
  <ion-slides pager="true">
      <ion-slide class="step-one">
          <!-- <ion-img src="/assets/slides/step1.svg"></ion-img> -->
          <h1>Welcome to Apnea App</h1>
          <p>You personal sleep apnea tracker.
          <br/>
          Slide to keep going ==>
          </p>
          
      </ion-slide>

      <ion-slide class="step-two">
          <!-- <ion-img src=""></ion-img> -->
          <h1>How it works</h1>
          <p>
            This app syncs with the Muse 2 to see if you have sleep apnea,
            all from the comfort of your home.
          </p>
      </ion-slide>

      <ion-slide class="step-three">
          <!-- <ion-img src="/assets/slides/step3.svg"></ion-img> -->
          <h1>What you have to do</h1>
          <p>
            For one night before you sleep, put on the Muse and connect it to the 
            Muse Direct app. Then once you wake up complete the short post sleep
            questionnaire. Thats it!
          </p>
      </ion-slide>

      <ion-slide class="step-six">
        <!-- <ion-img src="/assets/slides/step3.svg"></ion-img> -->
        <h1>Download the Muse Direct App</h1>
        <p>
            In order to get the Muse 2 data download the Muse Direct App 
            and create an account. Please enter your username and password 
            below:
        </p>

        <ion-item>
            <ion-input type="text" [(ngModel)]="username" placeholder="Username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-button (click)="pushData()">Submit</ion-button>
          
    
    </ion-slide>
      
      <ion-slide class="step-four">
          <!-- <ion-img src="/assets/slides/step3.svg"></ion-img> -->
          <h1>Questionnaires</h1>
          <p>
            Please fill out these two questionnaries honestly
          </p>
          <ion-button [disabled] = 'enEpworth' (click)="epworth()">Epworth</ion-button>
          <ion-button [disabled] = 'enStopBang' (click)="stopBang()">Stop Bang</ion-button>

      </ion-slide>
      
      <ion-slide class="step-five">
          <!-- <ion-img src="/assets/slides/step3.svg"></ion-img> -->
          <h1>Ready to Go!</h1>
          <p>
            Just press on the finish button and start using Apnea App.
          </p>
          <ion-button [disabled] = 'enFinish' (click)="finish()">Finish</ion-button>
      </ion-slide>

  </ion-slides>
</ion-content>