<ion-header>
  <ion-toolbar>
    <ion-title>Stop Bang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Instructions</h1>
  <p>
      Answer the following questions to find out if you are at risk 
      for Obstructive Sleep Apnea.
  </p>

  <ion-list>
      <ion-list-header>
        S (Snoring): Do you snore loudly (louder than 
        talking or loud enough to be heard through closed doors)?
      </ion-list-header>
      <ion-item>
        <ion-label>Answer:</ion-label>
        <ion-select [(ngModel)]="val1" placeholder="Select One">
          <ion-select-option value="1">Yes</ion-select-option>
          <ion-select-option value="0">No</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-list>
  
  <ion-list>
      <ion-list-header>
        T (Tired): Do you often feel tired, fatigued, or sleepy during daytime?
      </ion-list-header>
      <ion-item>
        <ion-label>Answer:</ion-label>
        <ion-select [(ngModel)]="val2" placeholder="Select One">
          <ion-select-option value="1">Yes</ion-select-option>
          <ion-select-option value="0">No</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-list>

  <ion-list>
      <ion-list-header>
        O (Observed): Has anyone observed you stop breathing during your sleep?
      </ion-list-header>
      <ion-item>
        <ion-label>Answer:</ion-label>
        <ion-select [(ngModel)]="val3" placeholder="Select One">
          <ion-select-option value="1">Yes</ion-select-option>
          <ion-select-option value="0">No</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-list>

  <ion-list>
      <ion-list-header>
        P (Blood Pressure): Do you have or are you being treated for high blood pressure?
      </ion-list-header>
      <ion-item>
        <ion-label>Answer:</ion-label>
        <ion-select [(ngModel)]="val4" placeholder="Select One">
          <ion-select-option value="1">Yes</ion-select-option>
          <ion-select-option value="0">No</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-list>

  <ion-list>
      <ion-list-header>
        B (BMI): BMI more than 35 kg/m2?
      </ion-list-header>
      <ion-item>
          <ion-label>Answer:</ion-label>
          <ion-select [(ngModel)]="val5" placeholder="Select One">
            <ion-select-option value="1">Yes</ion-select-option>
            <ion-select-option value="0">No</ion-select-option>
          </ion-select>
      </ion-item>
  </ion-list>

  <ion-list>
      <ion-list-header>
        A (Age): Age over 50 years?
      </ion-list-header>
      <ion-item>
          <ion-label>Answer:</ion-label>
          <ion-select [(ngModel)]="val6" placeholder="Select One">
            <ion-select-option value="1">Yes</ion-select-option>
            <ion-select-option value="0">No</ion-select-option>
          </ion-select>
      </ion-item>
  </ion-list>

  <ion-list>
      <ion-list-header>
        N (Neck Circumference): Neck circumference greater than 40 cm (16 in)?
      </ion-list-header>
      <ion-item>
          <ion-label>Answer:</ion-label>
          <ion-select [(ngModel)]="val7" placeholder="Select One">
            <ion-select-option value="1">Yes</ion-select-option>
            <ion-select-option value="0">No</ion-select-option>
          </ion-select>
      </ion-item>
  </ion-list>

  <ion-list>
      <ion-list-header>
        G (Gender): Gender male?
      </ion-list-header>
      <ion-item>
          <ion-label>Answer:</ion-label>
          <ion-select [(ngModel)]="val8" placeholder="Select One">
            <ion-select-option value="1">Yes</ion-select-option>
            <ion-select-option value="0">No</ion-select-option>
          </ion-select>
      </ion-item>
  </ion-list>
  
  <div class="Button">
    <ion-button (click)='submit();'>Submit</ion-button>
  </div>
    
</ion-content>
