.extra-cards {
  display: inline-grid;
  width: 28.47%;
}

.extra-cards-wrapper {
  width: 100%;
  text-align: center;
}

.single-chart {
  text-align: center;
  margin: 0 auto;
  width: 88%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  // max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.gray .circle {
  stroke: #a5a5a5;
}

.circular-chart.red .circle {
  stroke: #ff0000;
}

.circular-chart.yellow .circle {
  stroke: #ffff00;
}

.circular-chart.green .circle {
  stroke: #00ff00;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}