<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recording a Sleep Session</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Since Muse has not yet released a SDK (Software Development Kit) for the 
      Muse 2, it is not possible to get sleep data unless the Muse Direct App 
      is used. To record a sleep session, open the Muse Direct App and navigate 
      to the graph page after connecting your Muse. Then you can press the 
      record button and go to sleep. Once you wake up be sure to complete the 
      post sleep survey.
    </ion-card-content>
  </ion-card>
</ion-content>
